{{!-- Benefits section --}}
<div class="section">
    <div class="ui container ">
        <div class="ui stackable grid ">
            <div class="seven wide column container-solutions mar-bot-60">
                <h2 class="ui header">The client company will grow with your Start Up's benefits!</h2>

                <button class="benefit-button mar-top">
                    Learn more!
                </button>
            </div>

            <div class="nine wide column mar-bot-60">
                {{!-- Public --}}
                <div class="ui stackable grid">
                    <div class="eight wide column">
                        <div class="ui label light-violet-2 violet-text">
                            PUBLIC SECTOR BUYER
                        </div>

                        <div class="ui segment">
                            <p><i class="large tag icon violet-text"></i>Nisi cillum commodo ea proident.</p>
                        </div>
                        <div class="ui segment">
                            <p><i class="large certificate icon violet-text"></i>Dolor qui consequat exercitation enim
                                sunt culpa minim.</p>
                        </div>
                        <div class="ui segment">
                            <p><i class="large mail icon violet-text"></i>Nulla ullamco consequat qui excepteur eiusmod
                                quis.</p>
                        </div>
                    </div>

                    {{!-- Private --}}
                    <div class="eight wide column">
                        <div class="ui label light-red red-text">
                            PRIVATE SECTOR BUYER
                        </div>
                        <div class="ui segment">
                            <p><i class="large suitcase icon red-text"></i>Sit cupidatat ad magna laborum.</p>
                        </div>
                        <div class="ui segment">
                            <p><i class="large calendar icon red-text"></i>Lorem ipsum commodo culpa laborum aliquip
                                est consequat.</p>
                        </div>
                        <div class="ui segment">
                            <p><i class="large desktop icon red-text"></i>Reprehenderit fugiat labore eu est ex est
                                occaecat elit voluptate elit non.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="ui segment light-violet ">
            <div class="ui stackable grid ">
                <div class="twelve wide column">
                    <h1 class="ui header white-text mar-top mar-bot mar-left">
                         Ready for a simple future?
                        <div class="sub header black-text bold">Let's get started!</div>
                    </h1>
                </div>
                <div class="four wide column">
                    <button class="dark-button mar-top mar-bot mar-left">
                        Learn more!
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>