{{!-- Benefits section --}}
<div class="section">

    <div class="ui container ">
        <div class="ui stackable grid ">
            <div class="seven wide column container-solutions mar-bot-60">
                <h2 class="ui header">The client company will grow with your Startup's benefits!</h2>

                <button class="benefit-button mar-top">
                    Learn more!
                </button>
            </div>

            <div class="nine wide column mar-bot-60">
                {{!-- Public --}}
                <div class="ui stackable grid">

                    <div class="eight wide column">
                        <div class="ui label light-violet-2 violet-text">
                            PUBLIC SECTOR BUYER
                        </div>

                        <div class="ui segment">
                            <p><i class="large tag icon violet-text"></i>Nisi cillum commodo ea proident.</p>
                        </div>
                        <div class="ui segment">
                            <p><i class="large certificate icon violet-text"></i>Dolor qui consequat exercitation enim
                                sunt culpa minim.</p>
                        </div>
                        <div class="ui segment">
                            <p><i class="large mail icon violet-text"></i>Nulla ullamco consequat qui excepteur eiusmod
                                quis.</p>
                        </div>
                    </div>

                    {{!-- Private --}}
                    <div class="eight wide column">
                        <div class="ui label light-red red-text">
                            PRIVATE SECTOR BUYER
                        </div>
                        <div class="ui segment">
                            <p><i class="large suitcase icon red-text"></i>Sit cupidatat ad magna laborum.</p>
                        </div>
                        <div class="ui segment">
                            <p><i class="large calendar icon red-text"></i>Lorem ipsum commodo culpa laborum aliquip
                                est consequat.</p>
                        </div>
                        <div class="ui segment">
                            <p><i class="large desktop icon red-text"></i>Reprehenderit fugiat labore eu est ex est
                                occaecat elit voluptate elit non.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <br>
        <br>
        <br>
        {{!-- Adverstising segment --}}
        <div class="ui segment light-violet ">

            <div id="middle-circle">
                <svg style=" width: 150%;height: 100%" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                    xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" id="svg2" xml:space="preserve"
                    width="151.1768" height="175.73448" viewBox="0 0 151.1768 175.73448" sodipodi:docname="circle3.svg"
                    inkscape:version="0.92.3 (2405546, 2018-03-11)">
                    <g id="g10" inkscape:groupmode="layer" inkscape:label="ink_ext_XXXXXX" transform="matrix(1.3333333,0,0,-1.3333333,-142.83523,285.88274)">
                        <g id="g12" transform="scale(0.1)">
                            <ellipse style="fill:#ff00ff;fill-opacity:0;fill-rule:evenodd;stroke:#C4BCF7;stroke-width:5.76003265;stroke-opacity:0.43529412"
                                id="path1701" cx="1138.8179" cy="-1578.9996" transform="scale(1,-1)" rx="1063.3925" ry="1057.3159"
                                clip-path="url(#clipPath1788)" />
                        </g>
                    </g>
                </svg>
            </div>

            <div id="circle">
                <svg id="circle" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
                    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
                    xmlns="http://www.w3.org/2000/svg" id="svg1402" version="1.1" viewBox="0 0 54.275517 30.272495"
                    height="30.272495mm" width="54.275517mm">
                    <defs id="defs1396">
                        <clipPath id="clipPath2001" clipPathUnits="userSpaceOnUse">
                            <rect y="-0.37005281" x="109.71291" height="65.011902" width="101.29762" id="rect2003"
                                style="fill:#0000ff;fill-rule:evenodd;stroke-width:0.26458332" />
                        </clipPath>
                    </defs>
                    <g transform="translate(-156.73502,0.37005281)" id="layer1">
                        <circle clip-path="url(#clipPath2001)" r="46.869045" cy="-16.966602" cx="203.60406" id="path1951"
                            style="fill:#C4BCF7;fill-rule:evenodd;stroke-width:0.26458332" />
                    </g>
                </svg>
            </div>

            <div class="ui stackable grid ">

                <div class="twelve wide column">
                    <br>
                    <br>
                    <h1 class="ui header white-text mar-top mar-bot mar-left">
                        Ready for a simple future?
                        <div class="sub header black-text bold">Let's get started!</div>
                    </h1>
                    <br>
                    <br>
                </div>

                <div class="four wide column">
                    <br>
                    <br>
                    <button class="dark-button mar-top mar-bot mar-left">
                        Learn more!
                    </button>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>