<div class="section">
    <div class="ui container ">
        <div class="ui stackable grid ">
            <div class="seven wide column container-solutions mar-bot-60">
                <h2 class="ui header">The client company will grow with your Start Up's benefits!</h2>

                <button class="benefit-button mar-top">
                    Learn more!
                </button>
            </div>

            <div class="nine wide column ">
                <div class="ui stackable grid">
                    <div class="eight wide column">
                        <div class="ui label light-violet-2 violet-text">
                            PUBLIC SECTOR BUYER
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="ui label light-red red-text">
                            PRIVATE SECTOR BUYER
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>