{{!-- Footer --}}
<div class="row">
    <div class="dark-blue">
        <div class="footer">
            <div class="ui stackable grid">
                <div class="one wide column">
                    <div class="active item white-text">© 2018</div>
                </div>
                <div class="two wide column">
                    <div class="ui link list">
                        <div class="active item white-text">Customers</div>
                        <a class="item white-text-2">Client 1</a>
                        <a class="item white-text-2">Client 2</a>
                    </div>
                </div>
                <div class=" two wide column">
                    <div class="ui link list">
                        <div class="active item white-text">Startup</div>
                        <a class="item white-text-2">About us</a>
                        <a class="item white-text-2">Products</a>
                        <a class="item white-text-2">Feedbacks</a>
                    </div>
                </div>
                <div class=" two wide column">
                    <div class="ui link list">
                        <div class="active item white-text">Information</div>
                        <a class="item white-text-2">About</a>
                        <a class="item white-text-2">Jobs</a>
                        <a class="item white-text-2">Team</a>
                    </div>
                </div>
                <div class="three wide column">
                    <div class="ui link list">
                        <div class="active item white-text">Contact</div>
                        <a class="item white-text-2">FAQ</a>
                        <a class="item white-text-2">Terms and Conditions</a>
                        <a class="item white-text-2">Privacy Policy</a>
                    </div>
                </div>
                <div class="three wide column left aligned">
                    <div class="active item white-text">Follow us</div>
                    <div class="ui mini horizontal divided list">
                        <div class="item">
                            <img class="ui avatar image" src="images/social-media/facebook.png">
                        </div>
                        <div class="item">
                            <img class="ui avatar image" src="images/social-media/twitter.png">
                        </div>
                        <div class="item">
                            <img class="ui avatar image" src="images/social-media/youtube.png">
                        </div>
                        <div class="item">
                            <img class="ui avatar image" src="images/social-media/instagram.png">
                        </div>
                        <div class="item">
                            <img class="ui avatar image" src="images/social-media/snapchat.png">
                        </div>
                    </div>
                </div>
                <div class="two wide column center aligned">
                    <a href="https://github.com/dalejodc" target="_blank">
                        <div class="ui segment dark-blue-2">
                            <div class="ui small horizontal divided list">
                                <div class="item">
                                    <img class="ui avatar image" src="/images/github.png">
                                    <div class="content">
                                        <div class="header white-text">dalejodc</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>