<div class="full-width">

	<div class="ui stackable two column grid">

		<div class="column light-violet section">

			<div class="container">
				<h1 class="ui header" id='title'>Your<br>start up name!</h1>
				<p id='subtitle'>We help make buying simpler <br>to increase transparency, <br> traceability an trust.</p>
			
				<button class="header-button mar-top">
					Let's get started!
				</button>
			</div>
		</div>

		<div class="column header-image">
			
		</div>
	</div>
</div>