<div class="ui menu mar-top">
    <div class="right menu">
        <a class="item">
            Your Product
        </a>
        <a class="item">
            Customers
        </a>
        <a class="item">
            Startup
        </a>
        <div class="item">
            <a class="ui inverted basic button" href="/started">Get started</a>
        </div>
    </div>
</div>