<div class="section dark-blue">
	<div class="ui container ">
		<div class="ui stackable three column grid mar-top">
			<div class="column">
				<div class="ui segment" >
					<img>
				</div>
			</div>
			<div class="column">
				<div class="ui segment dark-blue-2" id="card1">
					<img>
				</div>
			</div>
			<div class="column">
				<div class="ui segment dark-blue-2" id="card2">
					<img>
				</div>
			</div>
		</div>
	</div>
</div>