{{!-- The problems section --}}
<div class="dark-blue">

	<div class="ui container ">
		<div class="ui stackable grid">

			<div class="six wide column container-solutions">
				<h5 class="ui header violet-text">THE PROBLEMS</h5>
				<h2 class="ui header white-text">A description of the problem</h2>
			</div>

			<div class="ten wide column">
				<div class="ui stackable grid">
					{{!-- Card 1 --}}
					<div class="eight wide column">
						<div class="ui segment dark-blue-2" id="card1">
							<h5 class="ui header white-text">Problem 1</h5>
							<p id="card-p">
								Minim dolore sunt et duis esse sunt exercitation ad nisi consectetur. Cillum dolore elit est et qui labore
								reprehenderit.
								<br>
								<br>
								Mollit in Lorem eu qui proident enim. Elit nulla sint aute amet duis quis ullamco ut aliqua est non veniam
								dolor.
								<br>
								<br>
								Sit dolore laborum ad consectetur ullamco quis elit in sit mollit officia consequat deserunt.
							</p>
						</div>
					</div>
					{{!-- Card 2 --}}
					<div class="eight wide column">
						<div class="ui segment dark-blue-2" id="card2">
							<h5 class="ui header white-text">Problem 2</h5>
							<p id="card-p">
								Minim dolore sunt et duis esse sunt exercitation ad nisi consectetur. Cillum dolore elit est et qui labore
								reprehenderit.
								<br>
								<br>
								Laborum enim velit labore laborum nisi. Consectetur occaecat dolor minim sunt minim do ullamco fugiat culpa ea
								qui aliquip proident.
								<br>
								<br>
								Mollit in Lorem eu qui proident enim. Elit nulla sint aute amet duis quis ullamco ut aliqua est non veniam.
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="ui container ">
		<div class="ui stackable grid ">
			<div class="six wide column container-solutions mar-bot-90">
				<h5 class="ui header violet-text">THE SOLUTIONS</h5>
				<h2 class="ui header white-text">A description of the solutions.</h2>

				<div class="mar-top">
					<h5 class="ui header violet-text">Solution 1</h5>
					<p class="white-text">
						Minim dolore sunt et duis esse sunt exercitation ad nisi consectetur. Cillum dolore elit est et qui labore
						reprehenderit.
					</p>
					<div class="ui divider"></div>
					<h5 class="ui header violet-text">Solution 2</h5>
					<p class="white-text">
						Laborum enim velit labore laborum nisi. Consectetur occaecat dolor minim sunt minim do ullamco fugiat culpa ea
						qui aliquip proident.
					</p>
					<div class="ui divider"></div>
					<h5 class="ui header violet-text">Solution 3</h5>
					<p class="white-text">
						Sit dolore laborum ad consectetur ullamco quis elit in sit mollit officia consequat deserunt.
					</p>					
				</div>
			</div>

			<div class="ten wide column light-violet">

			</div>

		</div>
	</div>

</div>