{{!-- The problems section --}}
<div class="row">
	<div class="dark-blue">

		<div id="circle-line">
			<svg style=" width: 712px;height: 712px" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
			 xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"
			 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
			 version="1.1" id="svg2" xml:space="preserve" width="384" height="384" viewBox="0 0 384 384" sodipodi:docname="circle.svg"
			 inkscape:version="0.92.3 (2405546, 2018-03-11)">
				<g id="g10" inkscape:groupmode="layer" inkscape:label="ink_ext_XXXXXX" transform="matrix(1.3333333,0,0,-1.3333333,0,384)">
					<g id="g12" transform="scale(0.1)">
						<ellipse style="fill:#ff00ff;fill-opacity:0;fill-rule:evenodd;stroke:#7e6ee6;stroke-width:6.91765022;stroke-opacity:0.43529412"
						 id="path1701" cx="215.08401" cy="-1399.2456" transform="scale(1,-1)" rx="1277.1069" ry="1269.8091" clip-path="url(#clipPath1742)" />
					</g>
				</g>
			</svg>
		</div>

		<div id="circle">
			<svg style=" width: 312px;height: 312px" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
			 xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"
			 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
			 version="1.1" id="svg2" xml:space="preserve" width="169.62119" height="168.38594" viewBox="0 0 169.62119 168.38594"
			 sodipodi:docname="circle2.svg" inkscape:version="0.92.3 (2405546, 2018-03-11)">

				<g id="g10" inkscape:groupmode="layer" inkscape:label="ink_ext_XXXXXX" transform="matrix(1.3333333,0,0,-1.3333333,-214.85249,383.67919)">
					<g id="g12" transform="scale(0.1)">
						<ellipse style="fill:#ff00ff;fill-opacity:0;fill-rule:evenodd;stroke:#7e6ee6;stroke-width:6.91765022;stroke-opacity:0.43529412"
						 id="path1701" cx="2891.9595" cy="-2887.9673" transform="scale(1,-1)" rx="1277.1069" ry="1269.8091" clip-path="url(#clipPath1765)" />
					</g>
				</g>
			</svg>
		</div>

		<div class="ui container ">

			<div class="ui stackable grid">

				<div class="six wide column container-solutions">
					<h5 class="ui header violet-text">THE PROBLEMS</h5>
					<h2 class="ui header white-text">A description of the problem</h2>
				</div>

				<div class="ten wide column">
					<div class="ui stackable grid">
						{{!-- Card 1 --}}
						<div class="eight wide column">
							<div class="ui segment dark-blue-2" id="card1">
								<h5 class="ui header white-text">Problem 1</h5>
								<p id="card-p">
									Minim dolore sunt et duis esse sunt exercitation ad nisi consectetur. Cillum dolore elit est et qui labore
									reprehenderit.
									<br>
									<br>
									Mollit in Lorem eu qui proident enim. Elit nulla sint aute amet duis quis ullamco ut aliqua est non veniam
									dolor.
									<br>
									<br>
									Sit dolore laborum ad consectetur ullamco quis elit in sit mollit officia consequat deserunt.
								</p>
							</div>
						</div>
						{{!-- Card 2 --}}
						<div class="eight wide column">
							<div class="ui segment dark-blue-2" id="card2">
								<h5 class="ui header white-text">Problem 2</h5>
								<p id="card-p">
									Minim dolore sunt et duis esse sunt exercitation ad nisi consectetur. Cillum dolore elit est et qui labore
									reprehenderit.
									<br>
									<br>
									Laborum enim velit labore laborum nisi. Consectetur occaecat dolor minim sunt minim do ullamco fugiat culpa ea
									qui aliquip proident.
									<br>
									<br>
									Mollit in Lorem eu qui proident enim. Elit nulla sint aute amet duis quis ullamco ut aliqua est non veniam.
								</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="ui container ">
			<div class="ui stackable grid ">
				<div class="six wide column container-solutions mar-bot-60">
					<h5 class="ui header violet-text">THE SOLUTIONS</h5>
					<h2 class="ui header white-text">A description of the solutions.</h2>

					<div class="mar-top">
						<h5 class="ui header violet-text">Solution 1</h5>
						<p class="white-text">
							Minim dolore sunt et duis esse sunt exercitation ad nisi consectetur.
						</p>
						<div class="ui divider"></div>
						<h5 class="ui header violet-text">Solution 2</h5>
						<p class="white-text">
							Laborum enim velit labore laborum nisi. Consectetur occaecat dolor minim sunt.
						</p>
						<div class="ui divider"></div>
						<h5 class="ui header violet-text">Solution 3</h5>
						<p class="white-text">
							Sit dolore laborum ad consectetur ullamco quis elit in sit mollit officia.
						</p>
					</div>
				</div>

				<div class="ten wide column center aligned">
					<img src="images/screen.png" width="75%">
				</div>

			</div>
		</div>

	</div>
</div>