{{>start}}

<div id="circle">
    <svg style=" width: 312px;height: 312px" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"
        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
        version="1.1" id="svg2" xml:space="preserve" width="169.62119" height="168.38594" viewBox="0 0 169.62119 168.38594"
        sodipodi:docname="circle2.svg" inkscape:version="0.92.3 (2405546, 2018-03-11)">

        <g id="g10" inkscape:groupmode="layer" inkscape:label="ink_ext_XXXXXX" transform="matrix(1.3333333,0,0,-1.3333333,-214.85249,383.67919)">
            <g id="g12" transform="scale(0.1)">
                <ellipse style="fill:#ff00ff;fill-opacity:0;fill-rule:evenodd;stroke:#7e6ee6;stroke-width:6.91765022;stroke-opacity:0.43529412"
                    id="path1701" cx="2891.9595" cy="-2887.9673" transform="scale(1,-1)" rx="1277.1069" ry="1269.8091"
                    clip-path="url(#clipPath1765)" />
            </g>
        </g>
    </svg>
</div>

<div class="section row">
    <div class="container-started ">
        <div class="ui big breadcrumb">
            <a class="section" href="/">Home</a>
            <i class="right chevron icon divider"></i>
            <div class="active section">Let's get started</div>
        </div>
        <h1 class="ui header violet-text center aligned">
            Awesome! Let's get started!
            <div class="sub header black-text bold">We can help you.</div>
        </h1>

        <div class="started-icons">
            <div class="ui stackable grid center aligned">
                <div class="two wide column"></div>
                <div class="four wide column">
                    <i class="massive chart line icon violet-text mar-bot"></i>
                    <p class="mar-top">Non adipisicing adipisicing ullamco aliqua. Lorem ea cillum deserunt proident
                        dolore tempor est
                        ipsum ea aute ipsum amet elit magna. Adipisicing mollit ex deserunt esse elit nisi proident
                        commodo ut tempor
                        culpa eu quis irure.
                    </p>
                </div>
                <div class="four wide column">
                    <i class="massive sitemap icon violet-text mar-bot"></i>
                    <p class="mar-top">Qui proident est cillum aute ut sint. Ex enim do exercitation ut. Ipsum dolor
                        nostrud eiusmod
                        aliquip laboris magna esse sint aliquip. Anim et et consequat pariatur anim non incididunt et
                        exercitation velit ullamco sit esse cupidatat.
                    </p>
                </div>
                <div class="four wide column">
                    <i class="massive desktop icon violet-text mar-bot"></i>
                    <p class="mar-top">Aute qui consectetur dolor magna excepteur dolor dolore mollit laboris
                        consectetur laborum
                        cupidatat est aliqua. Officia do commodo ipsum magna deserunt sunt ut officia ad. Minim mollit
                        id magna tempor proident qui culpa ad ipsum. Fugiat consequat nostrud amet ea.
                    </p>
                </div>
                <div class="two wide column"></div>
            </div>
        </div>
    </div>
</div>
{{>footer}}
{{>end}}