{{>start}}
<div class="section row">
    <div class="container-started ">
        <h1 class="ui header violet-text center aligned">
            Awesome! Let's get started!
            <div class="sub header black-text bold">We can help you.</div>
        </h1>

        <div class="started-icons">
            <div class="ui stackable grid center aligned">
                <div class="two wide column"></div>
                <div class="four wide column">
                    <i class="massive chart line icon violet-text mar-bot"></i>
                    <p class="mar-top">Non adipisicing adipisicing ullamco aliqua. Lorem ea cillum deserunt proident dolore tempor est
                        ipsum ea aute ipsum amet elit magna. Adipisicing mollit ex deserunt esse elit nisi proident
                        commodo ut tempor
                        culpa eu quis irure.
                    </p>
                </div>
                <div class="four wide column">
                    <i class="massive sitemap icon violet-text mar-bot"></i>
                    <p class="mar-top">Qui proident est cillum aute ut sint. Ex enim do exercitation ut. Ipsum dolor nostrud eiusmod
                        aliquip laboris magna esse sint aliquip. Anim et et consequat pariatur anim non incididunt et
                        exercitation velit ullamco sit esse cupidatat.
                    </p>
                </div>
                <div class="four wide column">
                    <i class="massive desktop icon violet-text mar-bot"></i>
                    <p class="mar-top">Aute qui consectetur dolor magna excepteur dolor dolore mollit laboris consectetur laborum
                        cupidatat est aliqua. Officia do commodo ipsum magna deserunt sunt ut officia ad. Minim mollit
                        id magna tempor proident qui culpa ad ipsum. Fugiat consequat nostrud amet ea.
                    </p>
                </div>
                <div class="two wide column"></div>
            </div>
        </div>
    </div>
</div>
{{>footer}}
{{>end}}