.section{
	width: 100%;
	height: 100%;
	min-height: 102.5vh;
	position: relative;
}
.white-text{
	color: white !important;
}

.white-text-2{
	color: #A7A7AF !important;
}

.black-text{
	color: black !important;
}

.bold{
	font-weight: 600 !important;
}

.violet-text{
	color: #7E6EE6 !important;
}

.light-violet{
	background-color: #7E6EE6 !important;
}
.light-violet-2{
	background-color: #E7E4FC !important;
}

.dark-blue{
	background-color: #151E29;
	position: relative;
}

.light-red{
	background-color: #FDE5E5 !important;
}

.red-text{
	color: #F77575 !important;
}

#card-p{
	color:#A7A7AF;
}

.dark-blue-2{
	background-color: #1E2631 !important;
}

.container-fixed{
	margin: 20px;
	margin-top: 20%;
	margin-left: 22%
}

.container-solutions{
	padding-right: 6em !important;
	padding-left: 3em !important;
}

.ui.container {
	padding-top: 10em !important;
    width: auto !important;
    margin-left: 6em !important;
    margin-right: 6em !important;
}

#card1{
	border-top: #7E6EE6 solid 5px !important;
}

#card2{
	border-top: #F27B7C solid 5px !important;
}

#title{
	color:white !important;
	font-size: 60px;
}

#subtitle{
	color:white !important;
	font-size: 22px;
	font-weight: 400;
}

.header-button{
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	cursor: pointer;
	display: inline-block;
	min-height: 1em;
	outline: none;
	border: none;
	vertical-align: baseline;
	background: white;
	color: #9B8FEB;
	margin: 0em 0.25em 0em 0em;
	padding: 0.78571429em 1.5em 0.78571429em;
	text-transform: none;
	text-shadow: none;
	font-weight: bold;
	line-height: 1em;
	font-style: normal;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
}

.header-button:hover {
	background-color: #c0c1c2;
    background-image: none;
    color: rgba(0,0,0,.95);
}

.benefit-button{
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	cursor: pointer;
	display: inline-block;
	min-height: 1em;
	outline: none;
	border: none;
	vertical-align: baseline;
	background: #7E6EE6 ;
	color: white;
	margin: 0em 0.25em 0em 0em;
	padding: 0.78571429em 1.5em 0.78571429em;
	text-transform: none;
	text-shadow: none;
	font-weight: bold;
	line-height: 1em;
	font-style: normal;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
}

.dark-button{
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	cursor: pointer;
	display: inline-block;
	min-height: 1em;
	outline: none;
	border: none;
	vertical-align: baseline;
	background: #1E2631 ;
	color: white;
	margin: 0em 0.25em 0em 0em;
	padding: 0.78571429em 1.5em 0.78571429em;
	text-transform: none;
	text-shadow: none;
	font-weight: bold;
	line-height: 1em;
	font-style: normal;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
}
.header-image{
	background-image: url("/images/header1.png");
	background-color: #7E6EE6;
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 102vh;
}

.mar-top{
	margin-top: 25px !important;
}

.mar-bot{
	margin-bottom: 25px !important;
}

.mar-left{
	margin-left: 35px !important;
}

.mar-bot-60{
	margin-bottom: 60px;
}

#circle{
	position: absolute;
	top: 0;
	right: 0;
}

/* The father has to be relative */
#middle-circle{
	position: absolute; 
	top: 0;
	bottom: 0;
	left: 7em;
}

#circle-line{
	position: absolute;
	padding-top: 60px;
	top: 0;
	left: 0;
}

.ui.segment {
	border: 0 !important;
}

.footer{
	background-color: #151E29;
	padding-top: 8em !important;
	padding-bottom: 4em !important;
	padding-left: 4em !important;
    width: auto !important;
    margin-left: 6em !important;
	margin-right: 6em !important;
}

.ui.menu {
    font-size: 1rem;
	background-color: transparent;
	border: 0px;
	-webkit-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px 0;
}

.ui.menu .item {
	position: auto;
	color: white !important;
	font-weight: 600 !important;
}